.right {
  float: right;
}

.left {
  float: left;
}

clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

#dialog-overlay #box {
  display: none;
}

#dialog-overlay .block {
  display: none;
  font-size: 16px;
}

.browse-songs.button img {
  position: relative;
  left: 3px;
}
